
@mixin title-text {
    font-weight: 700;
    font-size: 16px;
    color: $primary-text-color;
};

@mixin mediaTablet {
    @media(max-width:$tablet){
        @content
    }
};

@mixin mediaMobile {
    @media(max-width:$mobile){
        @content
    }
}



