
.footer{
    background-color: #000000;
}

.footer-wrapper{
    max-width: 684px;
    margin: 0 auto;
    text-align: center;
    padding: 66px 0 70px;
}

.footer__title{
    color: #FEFEFE;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
    text-transform: uppercase;
    margin-bottom: 22px;
    @include mediaMobile {
        font-size: 14px;
        line-height: 1.57;
     }
}

.footer__text{
    color: $footer-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    @include mediaMobile {
        font-size: 12px;
        line-height: 1.67;
        max-width: 305px;
     }
}

.nav-socials{
    margin: 34px 0 37px;
    @include mediaMobile {
        margin: 26px 0 25px;
     }
    &__link{
        display: inline-block;
        border-radius: 50%;
        width: 34px;
        height: 34px;
    }
    &__link--rss{
        background: url("../img/icons/rss-icon.png") no-repeat center center;
        border: 2px solid #F8902E;
    }
    &__link--fb{
        background: url("../img/icons/facebook-icon.png") no-repeat center center; 
        border: 2px solid #39599F;
    }
    &__link--tw{
        background: url("../img/icons/twitter-icon.png") no-repeat center center; 
        border: 2px solid #45B0E3;
    }
    &__link--drbl{
        background: url("../img/icons/dribbble-icon.png") no-repeat center center; 
        border: 2px solid #D97AB0;
    }
    &__link--pnt{
        background: url("../img/icons/pinterest-icon.png") no-repeat center center; 
        border: 2px solid #CC212C;
    }
}

.contacts-list{
    display: flex;
    justify-content: center;
    color: $footer-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    gap: 12px;
    &__contact{
        color: inherit;
    }
     @include mediaMobile {
        flex-direction: column;
        font-size: 14px;
        line-height: 1.71;
        gap: 0;
    }
}
